* {
  box-sizing: border-box;
}

#app {
  border-top: none;
  font-family: Arial, sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* text */
a {
  text-decoration: none;
}

h1 {
  display: flex;
  margin: 0;
  padding: 25px;
}

h2 {
  color: $boilerplate-blue;
  font-size: 18px;
  padding: 5px 15px 5px 0;
}

p {
  margin: 0 !important;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 100;
}

.legacy-label {
  font-size: medium;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 2px;
}

.required::before {
  content: '*';
  color: $ada-red;
  margin-left: -0.4em;
  font-size: x-large;
  font-weight: bolder;
}

.break-word {
  word-wrap: break-word;
  /* old name */
  overflow-wrap: break-word;
}

.v-card__title {
  color: $boilerplate-blue;
}

html * {
  font-family: Arial, sans-serif !important;
}

.v-application .text-h5,
.v-application .text-h6a {
  font-family: Arial, sans-serif !important;
}