// src/styles/_variables.scss

/** START COLORS **/
// The preferred naming convention for colors is [SOURCE]-[COLOR]-[SHADE]

$boilerplate-dark-gray-background: #373737;

// typically used for alternating row color
$boilerplate-gray-lighter: #f9f9f9;
$boilerplate-gray-inactive: gray;
$boilerplate-blue: #25589D;
$boilerplate-red: #DC3048;

$gray-border-color: rgba(0, 0, 0, .42);

$ada-red: #DF0000;

/** END COLORS **/

$boilerplate-container-size-normal: 1200px;